<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question And Answer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      h1 {
        text-align: center;
      }

      form {
        margin-top: 100px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'queslist' %}"
        ><strong>Q&A Site</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../askques">Ask</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">Hello {{user.first_name}}</li>
          <li class="nav-item">
            <a class="nav-link" href="logout">LogOut</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="../login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../register">Register</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <input type="submit" value="Search" />
        </form>
      </div>
    </nav>
    <h1 style="margin-top: 20px">Registration</h1>
    <div
      class="card container"
      style="width: 400px; border: 2px blue solid; margin-top: 20px"
    >
      <form style="margin-top: 0px" action="register" method="post">
        {% csrf_token %}
        <label for="fname">First name:</label><br />
        <input type="text" id="fname" name="fname" /><br />
        <label for="lname">Last name:</label><br />
        <input type="text" id="lname" name="lname" /><br />
        <label for="uname">Username:</label><br />
        <input type="text" id="uname" name="uname" /><br />
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" value="login" style="margin-bottom: 10px" />
      </form>
    </div>
  </body>
</html>
